[Unit]
Description=Fuhur Agent
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/fuhur-agent
StandardOutput=syslog
User=www-data
Group=www-data
Restart=always
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=full
# ProtectKernelTunables=yes
# MemoryDenyWriteExecute=yes
# RestrictRealtime=yes
Environment=PATH=/usr/local/bin/:/usr/bin:/usr/local/bin
Environment=FUHUR_CONFIGFILE={{ fuhur_agent_config_file_path }}
Environment=FUHUR_CONFIGDIR={{ fuhur_agent_config_dir_path }}
Environment=FUHUR_SCRIPTSDIR={{ fuhur_agent_scripts_dir_path }}
Environment=FUHUR_SIGNSECRET={{ fuhur_sign_secret }}

[Install]
WantedBy=multi-user.target
